<div class="HomeContainer">
    <h1 class="Home-title">Welcome to the Home Page<h1>
    <h3>If You are a new user <%= link_to "Sign Up!", new_user_path %></h3>
    <h3>If Your a existing user <%= link_to "Sign In!", new_sessions_path %></h3>
</div>