

<main class="body__main--root">
  <h1 class="main__h1--app-head">My Todo-list</h1>
  <%= form_with(url: "/todos", method: "post") do%>
    <input
      type="text"
      name="todo_text"
      class="input--todo_text"
      placeholder="What's next?"
      required
    />
    <input
      type="date"
      name="due_date"
      class="input--due_date"
      required
    />
    <input type="submit" value="Add" class="btn--pleasant" />
    <% end %>
    <%= render partial: "todo-section", locals: {section_title: "OverDue", todos: @todos.overdue, show_due_date: true}%>
    <%= render partial: "todo-section", locals: {section_title: "Due Today", todos: @todos.due_today, show_due_date: false}%>
    <%= render partial: "todo-section", locals: {section_title: "Due Later", todos: @todos.due_later, show_due_date: true}%>
</main>